#container-fluid {
	font-size: 30px;
	background-color: #33ffff;
}
body{
	
}

.title{
	font-size: 50px;
	text-align: center;
	background-color: #33ffff;
	
}
.menu {
	height: 2000px;
	text-align: center;
	background-color: #33ffff;
}

.periodic{
	width: 100px;
	height: 100px;
	background-color: #33ffff;
}

#buttonStartGame{
	background-color: #4CAF50;
}

input[type=number]{
	width: 10%;
	min-width: 70px;
}


